<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link href="/static/loginstyle.css" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>

        {% if msg %}
          <p class="auth-msg">{{ msg }}</p>
        {% endif %}

        <form action="/auth/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign In</button>
        </form>

        <div class="auth-nav">
            <span>New here?</span>
            <a href="/auth/signup">Create an account</a>
        </div>
    </div>
</body>
</html>
